@{
    ViewData["Title"] = "Reset Password";
}
<div id="wrapper">

    <p>Please enter your email to search for your account.</p>
    <form action ="/reset-password" method="POST">
        <input class="input" placeholder="Email Address"  type="email" name="email" ><br><br>
        <input class="input" placeholder="Password"  type="password" name="password" ><br><br>
        <input class="input" placeholder="Re-Type Password"  type="password" name="config_password" ><br><br>
        <input type="submit" name="submit" value="Submit">
    </form>

    <p style="color:red">@TempData["emailError"]</p>
    <p style="color:red">@TempData["passwordMatch"]</p>
    



</div>

